/*nav bar*/

#menu {
  background-color: rgb(212, 10, 10);
}

#menu a {
    font-size: 20px;
    font-weight: bold;
    color: rgb(17, 3, 3);
    padding: 0.5cm;
}

#menu ul li a {
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    font-weight: auto;
    padding: 1mm;
    margin: 15mm;
    text-transform: uppercase;
    border: solid;
    border-color:rgb(243, 236, 236);
    background-color: rgb(19, 18, 18);
}

#menu ul li a:hover {
    color: rgb(223, 64, 11);
  }

  .lOgo {
    margin: 10mm;
  }

.lOgo img{
  border: solid;
  border-color: beige;
  color: antiquewhite;
  width: 300;
  height: 200;
}

/* media query */

@media (max-width:768px) {
  #menu {
    padding: 10mm;
  }

  #menu a {
      font-size: 20 px;
      font-weight: bold;
      color: rgb(17, 3, 3);
  }

  #menu ul li a {
      text-align: center;
      color: whitesmoke;
      font-size: 15px;
      font-weight: auto;
      padding: 0.1mm;
      margin: 1mm;
      text-transform: uppercase;
      border: solid;
      border-color:rgb(228, 228, 225);
      background-color: rgb(13, 3, 54);
  }

  #menu ul li a:hover {
      color: rgb(135, 216, 29);
    }
    .lOgo {
      padding: 10mm;
    }

    .lOgo img{
      display: flex;
      flex-direction: column;
      border: solid;
      border-color: rgb(7, 31, 138);
      color: antiquewhite;
      width: 300;
      height: 200;
      margin: auto;

    }

}
