.todaslasFotos{
  background-color: black;
}
.card {
  display: inline-block;
  border: solid;
  border-color: rgb(199, 45, 7);
  padding: 0mm;
  background-color: black;
  margin-left: 0.2cm;
  margin-bottom: 0.2cm;
}

.card-body {
  background-color: rgb(206, 9, 9);
}

.card-text {
  color:rgb(218, 224, 211);
  text-align: center;
  font-size: 5mm;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  color: gold;
  text-align: center;
}

