<div class="Inicio">
<h1>Bienvenidos al Video Club más terrorífico y paranormal de la Web!</h1>
</div>

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://p4.wallpaperbetter.com/wallpaper/556/569/224/halloween-movie-2018-4k-wallpaper-preview.jpg" class="d-block w-100" alt="banner 1">
    </div>
    <div class="carousel-item">
      <img src="https://p4.wallpaperbetter.com/wallpaper/862/905/224/freddy-krueger-nightmare-horror-house-creature-hd-wallpaper-preview.jpg" class="d-block w-100" alt="banner 2">
    </div>
    <div class="carousel-item">
      <img src="https://i.pinimg.com/originals/56/29/b4/5629b46972629264dc64cfb8c712324f.jpg" class="d-block w-100" alt="banner 3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

